.list-group-item 
{
	background-color: transparent !important;
	color: white !important;
}

.fc-title
{
	color: white !important;
}

a, a:hover,a:visited, a:focus 
{
    text-decoration:none;
}

h4 > a, h4 > a:hover, h4 >a:visited, h4 > a:focus 
{
    text-decoration:none;
    color: black;
}

li > a, li > a:hover, li >a:visited, li > a:focus 
{
    color: white;
}

#calendar {
    width: 100%;
    height: 400px;
}

.tui-full-calendar-weekday-schedule
{
	border: 1px solid !important;
}

.tui-full-calendar-weekday-schedule-bullet
{
	height: 0px;
}

@media screen and (max-width: 575px) 
{

  .container-fluid
  {    
    margin-top: 40px;
  }
 
  .navbar 
  {
     display: block !important;
  }
}

@media screen and (min-width: 576px) 
{
  .navbar 
  {
     display: none !important;
  }
}