<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Webster - Responsive Multi-purpose HTML5 Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Webster - Responsive Multi-purpose HTML5 Template</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- font -->
<link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,600,700,800,900|Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800">
 
<!-- Plugins -->
<link rel="stylesheet" type="text/css" href="css/plugins-css.css" />

<!-- revoluation -->
<link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />

<!-- Typography -->
<link rel="stylesheet" type="text/css" href="css/typography.css" />

<!-- Shortcodes -->
<link rel="stylesheet" type="text/css" href="css/shortcodes/shortcodes.css" />

<!-- Style -->
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!-- Responsive -->
<link rel="stylesheet" type="text/css" href="css/responsive.css" /> 

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  
</head>

<body>
 
<div class="wrapper">

<!--=================================
 preloader -->
 
<div id="pre-loader">
    <img src="images/pre-loader/loader-01.svg" alt="">
</div>

<!--=================================
 preloader -->
 
<!--=================================
 header -->

<header id="header" class="header default">
 
<!--=================================
 mega menu -->

<div class="menu">  
  <!-- menu start -->
   <nav id="menu" class="mega-menu">
    <!-- menu list items container -->
    <section class="menu-list-items">
     <div class="container"> 
      <div class="row"> 
       <div class="col-lg-12 col-md-12"> 
        <!-- menu logo -->
        <ul class="menu-logo">
            <li>
                <a href="index-01.html"><img id="logo_img" src="../logo_stock.png" alt="logo"> </a>
            </li>
        </ul>
        <!-- menu links -->
        <div class="menu-bar">
         <ul class="menu-links">
            <li><a href="javascript:void(0)">Home </a>
              
            </li>
            <li><a href="javascript:void(0)">Quem Somos </a>
                
            </li>
            <li><a href="javascript:void(0)">Nossos Produtos </a>
               
            </li>
            <li><a href="javascript:void(0)">Soluções<i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel left-side">
                    
                    <li><a href="#">Soluções Residenciais </a>
                      
                    </li>
                    <li><a href="javascript:void(0)">Soluções Empresariais </a>
                      
                    </li>
                    <li><a href="#">Soluções para Condomínios </a>
                     
                    </li>
                    <li><a href="#">Soluções para Eventos </a>
                      
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">Contato </a>
            </li>
            <li><a href="javascript:void(0)">Orçamento  </a>
            </li>
        </ul>
        </div>
       </div>
      </div>
     </div>
    </section>
   </nav>
  <!-- menu end -->
 </div>
</header>

<!--=================================
 header -->

<!--=================================
 banner -->

<section class="rev-slider">
  <div id="rev_slider_273_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="webster-slider-7" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.6.3 fullwidth mode -->
  <div id="rev_slider_273_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6.3">
<ul>  <!-- SLIDE  -->
    <li data-index="rs-766" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="revolution/assets/slider-07/160x70_92af2-01.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/slider-07/92af2-01.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption   tp-resizeme  rev-color" 
       id="slide-766-layer-1" 
       data-x="center" data-hoffset="" 
       data-y="center" data-voffset="-60" 
            data-width="['auto']"
      data-height="['auto']"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5; white-space: nowrap; font-size: 350px; line-height: 350px; font-weight: 700; color: #84ba3f; letter-spacing: 0px;font-family:lato;">W </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption   tp-resizeme" 
       id="slide-766-layer-2" 
       data-x="center" data-hoffset="" 
       data-y="center" data-voffset="7" 
            data-width="['auto']"
      data-height="['auto']"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1360,"speed":2000,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; white-space: nowrap; font-size: 80px; line-height: 80px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">Build websites easily <br /> as never before! </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  rev-bg" 
       id="slide-766-layer-3" 
       data-x="center" data-hoffset="" 
       data-y="center" data-voffset="150" 
            data-width="['3']"
      data-height="['90']"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":2830,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7;background-color:rgb(132,186,63);"> </div>

    <!-- LAYER NR. 4 -->
    <a class="tp-caption rev-btn  tp-resizeme  rev-button" 
 href="#" target="_self"       id="slide-766-layer-4" 
       data-x="center" data-hoffset="-1" 
       data-y="center" data-voffset="241" 
            data-width="['auto']"
      data-height="['auto']"
 
            data-type="button" 
      data-actions=''
      data-responsive_offset="on" 

            data-frames='[{"delay":4210,"speed":2000,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power0.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[35,35,35,35]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[35,35,35,35]"

            style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 300; color: rgba(255,255,255,1); letter-spacing: 0px;font-family:Poppins;text-transform:uppercase;background-color:rgb(132,186,63);border-color:rgba(0,0,0,1);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">learn more </a>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-767" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="revolution/assets/slider-07/160x70_29f21-02.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/slider-07/29f21-02.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 5 -->
    <div class="tp-caption   tp-resizeme  rev-color" 
       id="slide-767-layer-1" 
       data-x="385" 
       data-y="center" data-voffset="-15" 
            data-width="['auto']"
      data-height="['auto']"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":300,"speed":2000,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5; white-space: nowrap; font-size: 400px; line-height: 400px; font-weight: 700; color: #84ba3f; letter-spacing: 0px;font-family:Lato;">w </div>

    <!-- LAYER NR. 6 -->
    <div class="tp-caption   tp-resizeme" 
       id="slide-767-layer-2" 
       data-x="708" 
       data-y="center" data-voffset="32" 
            data-width="['auto']"
      data-height="['auto']"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1600,"speed":2000,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; white-space: nowrap; font-size: 70px; line-height: 70px; font-weight: 300; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">Lets get started <br/>  with the <br/> Webster! </div>

    <!-- LAYER NR. 7 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  rev-bg" 
       id="slide-767-layer-3" 
       data-x="center" data-hoffset="350" 
       data-y="center" data-voffset="42" 
            data-width="['3']"
      data-height="['130']"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":3260,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7;background-color:rgb(132,186,63);"> </div>

    <!-- LAYER NR. 8 -->
    <a class="tp-caption rev-btn  tp-resizeme  rev-button" 
 href="#" target="_self"       id="slide-767-layer-4" 
       data-x="1348" 
       data-y="465" 
            data-width="['auto']"
      data-height="['auto']"
 
            data-type="button" 
      data-actions=''
      data-responsive_offset="on" 

            data-frames='[{"delay":4950,"speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[35,35,35,35]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[35,35,35,35]"

            style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 400; color: rgba(255,255,255,1); font-family:Poppins;text-transform:uppercase;background-color:rgb(132,186,63);border-color:rgba(0,0,0,1);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">learn more </a>
  </li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
</div>
</section>  

<!--=================================
 banner -->

<!--=================================
features -->

<section class="page-section-ptb theme-bg">
   <div class="container">
       <div class="row ">
        <div class="col-lg-3 col-md-3 col-sm-3 xs-mb-30">
          <div class="feature-text text-center">
            <div class="feature-icon">
            <span aria-hidden="true" class="ti-layers-alt text-white"></span>
            </div>
            <h4 class="text-white pt-20">Many Style Available</h4>
            <p class="text-white">Sed quia nesciunt in accusamus necessitatibus modi adipisci officia dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 xs-mb-30">
          <div class="feature-text text-center">
            <div class="feature-icon">
            <span aria-hidden="true" class="ti-image text-white"></span>
            </div>
            <h4 class="text-white pt-20">Revolution Slider</h4>
            <p class="text-white">Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia dolor sit amet, consectetur adipisicing elit. </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="feature-text text-center">
            <div class="feature-icon">
            <span aria-hidden="true" class="ti-heart text-white"></span>
            </div>
            <h4 class="text-white pt-20">Blog Options</h4>
            <p class="text-white">Quibusdam sed quia nesciunt in accusamus necessitatibus modi adipisci officia dolor sit amet, consectetur adipisicing elit. Vero quod conseqt</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="feature-text text-center">
            <div class="feature-icon">
            <span aria-hidden="true" class="ti-heart text-white"></span>
            </div>
            <h4 class="text-white pt-20">Blog Options</h4>
            <p class="text-white">Quibusdam sed quia nesciunt in accusamus necessitatibus modi adipisci officia dolor sit amet, consectetur adipisicing elit. Vero quod conseqt</p>
          </div>
        </div>
     </div>
   </div>
</section>

<!--=================================
features -->

<!--=================================
custom content -->

<section class="page-section-ptb">
  <div class="container">
       <div class="row">
         <div class="col-lg-6 sm-mb-30">
            <div class="js-video [vimeo, widescreen] big">
              <iframe src="https://player.vimeo.com/video/176916362"></iframe>
             </div>
         </div>
         <div class="col-lg-6">
            <div class="section-title mb-20">
            <h2>Vantagens em contratar a Stock</h2>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
      </div>
     </div>
  </div>
</section>

<!--=================================
custom content -->

<!--=================================
our-services -->

<section class="our-services page-section-ptb gray-bg">
  <div class="container">
     <div class="row">
       <div class="col-lg-12 col-md-12">
          <div class="section-title text-center">
              <h2 class="title-effect">Nossos produtos </h2>
            </div>
         </div>
       </div>
         <div class="row">
          <div class="col-lg-4 col-md-4">
          <div class="feature-text box-shadow text-center mb-30 white-bg">
            <div class="feature-icon">
            <span aria-hidden="true" class="ti-layers-alt"></span>
            </div>
           <div class="fature-info"> 
             <h4 class="text-back pt-20 pb-10">Many Style Available</h4>
              <p>Quibusdam, sed quia nesciunt dolor sit amet, consectetur adipisicing elit. Vero quod conseqt </p>
             <a class="button mt-20" href="#">read more</a>
           </div>
          </div>
        </div>
         <div class="col-lg-4 col-md-4">
          <div class="feature-text box-shadow text-center mb-30 white-bg">
            <div class="feature-icon">
            <span aria-hidden="true" class="ti-image"></span>
            </div>
           <div class="fature-info"> 
             <h4 class="text-back pt-20 pb-10">Revolution Slider</h4>
             <p>Sed quia nesciunt dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam</p>
             <a class="button mt-20" href="#">read more</a>
           </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="feature-text box-shadow text-center mb-30 white-bg">
            <div class="feature-icon">
            <span aria-hidden="true" class="ti-heart"></span>
            </div>
           <div class="fature-info"> 
             <h4 class="text-back pt-20 pb-10">Blog Options</h4>
             <p>Quibusdam sed quia nesciunt Vero dolor conseqt sit amet, consectetur vero adipisicing elit. Vero quod conseqt </p>
             <a class="button mt-20" href="#">read more</a>
           </div>
          </div>
        </div>
       </div>
       <div class="row">
    <div class="col-lg-4 col-md-4">
          <div class="feature-text box-shadow text-center white-bg mb-30">
            <div class="feature-icon">
            <span aria-hidden="true" class="ti-panel"></span>
            </div>
           <div class="fature-info"> 
             <h4 class="text-back pt-20 pb-10">Easy to Customize</h4>
             <p>Adipisicing elit. Vero quod conseqt quibusdam, sed quia nesciunt dolor sit amet, consectetur </p>
             <a class="button mt-20" href="#">read more</a>
           </div>
          </div>
        </div>
           <div class="col-lg-4 col-md-4">
          <div class="feature-text box-shadow text-center white-bg mb-30">
            <div class="feature-icon">
            <span aria-hidden="true" class="ti-shield"></span>
            </div>
           <div class="fature-info"> 
             <h4 class="text-back pt-20 pb-10">Powerful Performance</h4>
             <p>Quod conseqt quibusdam sed quia nesciunt dolor sit amet, consectetur adipisicing elit vero </p>
             <a class="button mt-20" href="#">read more</a>
           </div>
          </div>
        </div>
            <div class="col-lg-4 col-md-4">
          <div class="feature-text box-shadow text-center white-bg mb-30">
            <div class="feature-icon">
            <span aria-hidden="true" class="ti-headphone"></span>
            </div>
           <div class="fature-info"> 
             <h4 class="text-back pt-20 pb-10">24/7 Customer support</h4>
              <p>Consectetur adipisicing elit. Vero quod conseqt quibusdam, sed quia nesciunt dolor sit amet</p>
             <a class="button mt-20" href="#">read more</a>
           </div>
          </div>
        </div>
       </div>
  </div>
</section>

<!--=================================
our-services -->

<!--=================================
feature-step -->


<!--=================================
feature-step -->

<!--=================================
 portfolio -->

<!--=================================
 portfolio -->

<!--=================================
 pie chart -->

<!--=================================
 Our activities -->

<!--=================================
our activities -->

<!--=================================
 team  -->

<section class="gray-bg page-section-ptb">
  <div class="container">
     <div class="row">
     <div class="col-lg-12 col-md-12">
         <div class="section-title text-center">    
            <h6>Meet our Superheros </h6>
              <h2 class="title-effect">Principais fornecedores</h2>
          </div>
       </div>
    </div>
     <div class="row">
        <div class="col-lg-3 col-sm-6 sm-mb-30">
           <div class="team team-round full-border white-bg">
              <div class="team-photo">
                <img class="img-fluid mx-auto" src="images/team/01.jpg" alt=""> 
              </div>    
              <div class="team-description"> 
                <div class="team-info"> 
                     <h5><a href="team-single.html"> Martin Smith</a></h5>
                     <span>CEO</span>
                </div>
                <div class="team-contact">
                  <span class="call"> +(704) 279-1249</span>
                  <span class="email"> <a href="#"> <i class="fa fa-envelope-o"></i> </a> </span>
                </div>
               </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6 sm-mb-30">
           <div class="team team-round full-border white-bg">
              <div class="team-photo">
                <img class="img-fluid mx-auto" src="images/team/02.jpg" alt=""> 
              </div>    
              <div class="team-description"> 
                <div class="team-info"> 
                     <h5><a href="team-single.html"> Paul Flavius</a></h5>
                     <span>Design</span>
                </div>
                <div class="team-contact">
                  <span class="call"> +(704) 279-1249</span>
                  <span class="email"> <a href="#"> <i class="fa fa-envelope-o"></i> </a> </span>
                </div>
               </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6 xs-mb-30">
           <div class="team team-round full-border white-bg">
              <div class="team-photo">
                <img class="img-fluid mx-auto" src="images/team/06.jpg" alt=""> 
              </div>    
              <div class="team-description"> 
                <div class="team-info"> 
                     <h5><a href="team-single.html"> Anne Smith</a></h5>
                     <span>Community</span>
                </div>
                <div class="team-contact">
                  <span class="call"> +(704) 279-1249</span>
                  <span class="email"> <a href="#"> <i class="fa fa-envelope-o"></i> </a> </span>
                </div>
               </div>
           </div>
          </div>  
          <div class="col-lg-3 col-sm-6">
           <div class="team team-round full-border white-bg">
              <div class="team-photo">
                <img class="img-fluid mx-auto" src="images/team/04.jpg" alt=""> 
              </div>    
              <div class="team-description"> 
                <div class="team-info"> 
                     <h5><a href="team-single.html"> Sara Lisbon</a></h5>
                     <span>Graphic Designer</span>
                </div>
                <div class="team-contact">
                  <span class="call"> +(704) 279-1249</span>
                  <span class="email"> <a href="#"> <i class="fa fa-envelope-o"></i> </a> </span>
                </div>
               </div>
           </div>
          </div>
       </div>
   </div>
 </section>

<!--=================================
 team -->

<!--=================================
custom-content  -->

<section class="theme-bg page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center">
        <h2 class="mb-30 text-white">Are You Ready to Succeed? Be ready with us!</h2>
        <p class="mb-30 text-white">Webster offers you unfathomable accessibility to build beautiful and customer-oriented websites. Unique designs, eye-catchy portfolio and innovative website building tools work seamlessly to boost your business online.</p>
        <a class="button white" target="_blank" href="#"><span>  Solicite seu orçamento  </span></a>
      </div>
    </div>
  </div>
</section>

<!--=================================
custom-content -->

<!--=================================
 footer -->

<footer class="footer page-section-pt black-bg">
 <div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-6 xs-mb-30">
       <img src="../logo_stock.png" class="img-responsive" style="background-size: cover;width:300px;height:200px;">
    </div>
    <div class="col-lg-4 col-sm-6 xs-mb-30">
    <h6 class="text-white mb-30 mt-10 text-uppercase">Contact Us</h6>
    <ul class="addresss-info"> 
        <li><i class="fa fa-map-marker"></i> <p>Address: 17504 Carlton Cuevas Rd, Gulfport, MS, 39503</p> </li>
        <li><i class="fa fa-phone"></i> <a href="tel:7042791249"> <span>+(704) 279-1249 </span> </a> </li>
        <li><i class="fa fa-envelope-o"></i>Email: letstalk@webster.com</li>
        <li>
          <p>Redes Sociais: </p>
          <a href=""><i class="fab fa-facebook fa-5x"></i></a>
          <a href=""><i class="fab fa-instagram fa-5x"></i></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-sm-6">
      <h6 class="text-white mb-30 mt-10 text-uppercase">Subscribe to Our Newsletter</h6>
        <p>Sign Up to our Newsletter to get the latest news and offers.</p>
         <div class="footer-Newsletter">
          <div id="mc_embed_signup_scroll">
            <form action="php/mailchimp-action.php" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
             <div id="msg"> </div>                 
              <div id="mc_embed_signup_scroll_2">
                <input id="mce-EMAIL" class="form-control" type="text" placeholder="Email address" name="email1" value="">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_b7ef45306f8b17781aa5ae58a_6b09f39a55" tabindex="-1" value="">
                </div>
                <div class="clear">
                  <button type="submit" name="submitbtn" id="mc-embedded-subscribe" class="button button-border mt-20 form-button">  Get notified </button>
                </div>
              </form>
            </div>
            </div>
         </div>
       </div>

       <div class="row">
    </div>

      <div class="footer-widget mt-20">
        <div class="row">
          <div class="col-lg-6 col-md-6 xs-mb-20">
           <p class="mt-15"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Webster </a> All Rights Reserved </p>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="social-icons color-hover float-left float-md-right pt-10">
             <ul> 
              <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i> </a></li>
              <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i> </a></li>
             </ul>
           </div>
          </div>
        </div>    
      </div>
  </div>
</footer>

<!--=================================
 footer -->

</div>

  

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>

<!--=================================
 jquery -->

<!-- jquery -->
<script src="js/jquery-3.3.1.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>
 
<!-- REVOLUTION JS FILES -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.video.min.js"></script>
<!-- revolution custom --> 
<script src="revolution/js/revolution-custom.js"></script> 

<!-- custom -->
<script src="js/custom.js"></script>

 

</body>
</html>